.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

main ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

form{
  align-items: center;
  display: flex;
  justify-content: center;
}